<a href="https://colab.research.google.com/github/seandaza/Python-The-Fundamentals/blob/master/BI_Assigment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos Dependencias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
!wget -O products.csv https://raw.githubusercontent.com/andresrosso/resources/main/datasets/products_dataset_202110270742.csv?raw=true

In [ ]:
df = pd.read_csv('products.csv')

In [ ]:
df.tail()

                             product_id  ... product_width_cm
32946  a0b7d5a992ccda646f2d34e418fff5a0  ...             40.0
32947  bf4538d88321d0fd4412a93c974510e6  ...             16.0
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c  ...             27.0
32949  83808703fc0706a22e264b9d75f04a2e  ...             20.0
32950  106392145fca363410d287a815be6de4  ...              7.0

[5 rows x 9 columns]

In [ ]:
df['volume_cm3'] = df['product_length_cm']* df['product_height_cm'] * df['product_width_cm']

df.head()

                         product_id  ... volume_cm3
0  1e9e8ef04dbcff4541ed26657ea517e5  ...     2240.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...    10800.0
2  96bd76ec8810374ed1b65e291975717f  ...     2430.0
3  cef67bcfe19066a932b7673e239eb23d  ...     2704.0
4  9dc1a7de274444849c219cff195d0b71  ...     4420.0

[5 rows x 10 columns]

In [ ]:
df.describe()

       product_name_lenght  ...     volume_cm3
count         32341.000000  ...   32949.000000
mean             48.476949  ...   16564.096695
std              10.245741  ...   27057.041650
min               5.000000  ...     168.000000
25%              42.000000  ...    2880.000000
50%              51.000000  ...    6840.000000
75%              57.000000  ...   18480.000000
max              76.000000  ...  296208.000000

[8 rows x 8 columns]

In [ ]:
df["size"] = df["volume_cm3"]. apply(lambda x : "big" if x >=15000 else "medium" if x < 15000 and x >= 7417 else "small")

df

                             product_id  ...    size
0      1e9e8ef04dbcff4541ed26657ea517e5  ...   small
1      3aa071139cb16b67ca9e5dea641aaa2f  ...  medium
2      96bd76ec8810374ed1b65e291975717f  ...   small
3      cef67bcfe19066a932b7673e239eb23d  ...   small
4      9dc1a7de274444849c219cff195d0b71  ...   small
...                                 ...  ...     ...
32946  a0b7d5a992ccda646f2d34e418fff5a0  ...     big
32947  bf4538d88321d0fd4412a93c974510e6  ...   small
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c  ...   small
32949  83808703fc0706a22e264b9d75f04a2e  ...  medium
32950  106392145fca363410d287a815be6de4  ...   small

[32951 rows x 11 columns]

In [ ]:
df["size"].value_counts(dropna = False)

small     17069
big        9880
medium     6002
Name: size, dtype: int64

In [ ]:
df_res = df[["product_category_name", "product_weight_g","size"]]
df_res.rename(columns={'product_category_name':'product', 'product_weight_g':'weight'}, inplace=True)

df_res

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                                 product   weight    size
0                             perfumaria    225.0   small
1                                  artes   1000.0  medium
2                          esporte_lazer    154.0   small
3                                  bebes    371.0   small
4                  utilidades_domesticas    625.0   small
...                                  ...      ...     ...
32946                   moveis_decoracao  12300.0     big
32947  construcao_ferramentas_iluminacao   1700.0   small
32948                    cama_mesa_banho   1400.0   small
32949             informatica_acessorios    700.0  medium
32950                    cama_mesa_banho   2083.0   small

[32951 rows x 3 columns]

In [ ]:
df_filter = df_res[(df_res['size'] == 'small') & (df_res['weight'] <= 300)]
df_filter

                                product  weight   size
0                            perfumaria   225.0  small
2                         esporte_lazer   154.0  small
5                 instrumentos_musicais   200.0  small
12                instrumentos_musicais   250.0  small
14     construcao_ferramentas_seguranca   200.0  small
...                                 ...     ...    ...
32934            informatica_acessorios   130.0  small
32935                             bebes   150.0  small
32936                     esporte_lazer   300.0  small
32944                  moveis_decoracao   150.0  small
32945             utilidades_domesticas   200.0  small

[7925 rows x 3 columns]

In [ ]:
products = df_filter['product']
products

0                              perfumaria
2                           esporte_lazer
5                   instrumentos_musicais
12                  instrumentos_musicais
14       construcao_ferramentas_seguranca
                       ...
32934              informatica_acessorios
32935                               bebes
32936                       esporte_lazer
32944                    moveis_decoracao
32945               utilidades_domesticas
Name: product, Length: 7925, dtype: object

In [ ]:
cathegories = products.value_counts()
cathegories

telefonia                        885
beleza_saude                     729
informatica_acessorios           690
fashion_bolsas_e_acessorios      685
esporte_lazer                    577
                                ...
fashion_roupa_infanto_juvenil      2
industria_comercio_e_negocios      2
fraldas_higiene                    1
flores                             1
pcs                                1
Name: product, Length: 63, dtype: int64

In [ ]:
len(cathegories)

63

In [ ]:
cathegories['telefonia']

885

# Exponga los datos

In [ ]:
# Instalemos dependencias
!pip install flask-ngrok

In [ ]:
#Importemos librerias
from flask_ngrok import run_with_ngrok
from flask import Flask, request
from flask import Flask, jsonify
import json

In [ ]:
#Corremos la aplicacion flask
app = Flask(__name__)

def cantidad_productos():
  '''Muestra la cantidad 
  de algunos productos
  '''
  cathegories = products.value_counts()
  return f"accesorios informatica: {cathegories['informatica_acessorios']}, telefonia: {cathegories['telefonia']}"

####Rutas######################

# Ruta raiz
"""
Metodo para retornar el numero de sobrevientes

Parameters
----------
None

Returns
-------
datos : json
    Estructura con la cantidad de Sobrevivientes
    y no sobrevivientes
"""
@app.route('/', methods=['GET'])
def get_productos():
  return cantidad_productos()


# Iniciamos ngrok cuando la app este corriendo.
run_with_ngrok(app) 

app.run()