<a href="https://colab.research.google.com/github/seandaza/Python-The-Fundamentals/blob/master/Client.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Webservices

> Un web service es una vía de intercomunicación e interoperabilidad entre máquinas conectadas en Red. En el mundo de Internet se han popularizado enormemente, ya se trate de web services públicos o privados. Generalmente, la interacción se basa en el envío de solicitudes y respuestas entre un cliente y un servidor, que incluyen datos. El cliente solicita información, enviando a veces datos al servidor para que pueda procesar su solicitud. El servidor genera una respuesta que envía de vuelta al cliente, adjuntando otra serie de datos que forman parte de esa respuesta. Por tanto, podemos entender un servicio web como un tráfico de mensajes entre dos máquinas.

##Servicios SOAP

> La primera introducción de los web services en el mundo de Internet vino de la mano de SOAP. SOAP es un protocolo que define cómo deben de realizarse las comunicaciones entre máquinas. SOAP usa XML como lenguaje de intercambio de datos con una estructura compleja que es capaz de albergar todo tipo de datos sobre la solicitud o respuesta generada.

##Servicios REST

> REST, abrevia REPRESENTATIONAL STATE TRANSFER. Es una interfaz para conectar varios sitemas basados en el protocolo `HTTP`, Sirve para obtener y generar datos y operaciones, retornando datos en formato `JSON` Y `XML` a través de métodos como `GET, POST, PUT y DELETE`. En el caso de un servicio, en el cual nosotros vamos a almacenar nuestra lógica de negocio, y vamos a servir los datos con una serie de recursos `URL`.

###Caracteristicas de Arquitetura REST

<img src='https://github.com/andresrosso/resources/blob/main/images/rest.png?raw=true'/>



> REST lo que propone es que los datos sean enviados en bruto para que sea el interesado de los datos el que los procese para generar la página (o cualquier otra cosa que tenga que generar), en este sentido, lo que REST propone no es generar la página web, si no que mandar los datos en bruto para que el consumidor sea el responsable de generar la página a través de los datos que responde REST.

### Ventajas

1.  **Interoperable**: REST no está casado con una tecnología, por lo que es posible implementarla en cualquier lenguaje de programación.

2. **Escalabilidad**: Debido a todas las peticiones son sin estado, es posible agregar nuevos nodos para distribuir la carga entre varios servidores.

3. **Reducción** del acoplamiento: Debido a que los conectores definen interfaces abstractas y que los recursos son accedidos por una URL, es posible mantener un bajo acoplamiento entre los componentes.

4. **Testabilidad**: Debido a que todas las peticiones tienen toda la información y que son sin estado, es posible probar los recursos de forma individual y probar su funcionalidad por separado.

5. **Reutilziación**: Una de los principios de REST es llevar los datos sin procesar al cliente, para que sea el cliente quién decida cuál es la mejor forma de representar los datos al usuario, por este motivo, los recursos de REST pueden ser reutilizado por otros componentes y representar los datos de diferentes maneras.

###Desventajas

1. **Performance**: Como en todas las arquitecturas distribuidas, el costo en el performance es una constante, ya que cada solicitud implica costos en latencia, conexión y autenticaciones.

2. **Más puntos de falla**: Nuevamente, las arquitecturas distribuidas traen con sigo ciertas problemáticas, como es el caso de los puntos de falla, ya que al haber múltiples componentes que conforman la arquitectura, multiplica los puntos de falla.

3. **Gobierno**: Hablando exclusivamente desde el punto de vista de servicios basados en REST, es necesario mantener un gobierno sobre los servicios implementados para llevar un orden, ya que es común que diferentes equipos creen servicios similares, provocando funcionalidad repetida que tiene que administrarse.

### Metodos HTTP

> HTTP define un conjunto de métodos de petición para indicar la acción que se desea realizar para un recurso determinado. Aunque estos también pueden ser sustantivos, estos métodos de solicitud a veces son llamados HTTP verbs.  Cada uno de ellos implementan una semántica diferente, pero algunas características similares son compartidas por un grupo de ellos.

*  **GET**:

> El método GET  solicita una representación de un recurso específico. Las peticiones que usan el método GET sólo deben recuperar datos.

* **HEAD**:

>   El método HEAD pide una respuesta idéntica a la de una petición GET, pero sin el cuerpo de la respuesta.

* **POST** :

> El método POST se utiliza para enviar una entidad a un recurso en específico, causando a menudo un cambio en el estado o efectos secundarios en el servidor.

* **PUT**:

> El modo PUT reemplaza todas las representaciones actuales del recurso de destino con la carga útil de la petición.

* **DELETE**:

> El método DELETE borra un recurso en específico.

* **CONNECT**:

> El método CONNECT establece un túnel hacia el servidor identificado por el recurso.

* **OPTIONS**:

> El método OPTIONS es utilizado para describir las opciones de comunicación para el recurso de destino.

* **TRACE**:

> El método TRACE  realiza una prueba de bucle de retorno de mensaje a lo largo de la ruta al recurso de destino.

* **PATCH**:

> El método PATCH  es utilizado para aplicar modificaciones parciales a un recurso.

###Codigos de Estado HTTP

> Los códigos de estado HTTP son como notas cortas de un servidor que se insertan en una página web. En realidad no son parte del contenido del sitio. En su lugar, son mensajes del servidor que te permiten saber cómo fueron las cosas cuando recibió la solicitud de ver una determinada página.

> Los códigos de estado de HTTP se entregan a tu navegador en el encabezado de HTTP. Aunque los códigos de estado se devuelven cada vez que el navegador solicita una página web o un recurso, la mayoría de las veces no los ves.

> Por lo general, sólo cuando algo sale mal, es posible que veas uno en tu navegador. Esta es la forma de decir del servidor: «Algo no está bien. Aquí hay un código que explica lo que salió mal

###Tipos de Estado HTTP

> Los códigos de estado HTTP se dividen en 5 «tipos». Se trata de agrupaciones de respuestas que tienen significados similares o relacionados. Saber qué son puede ayudarte a determinar rápidamente la sustancia general de un código de estado antes de que vayas a buscar su significado específico.

Las cinco clases incluyen:

* **100s**: Códigos informativos que indican que la solicitud iniciada por el navegador continúa.

* **200s**: Los códigos con éxito regresaron cuando la solicitud del navegador fue recibida, entendida y procesada por el servidor.

* **300s**: Códigos de redireccionamiento devueltos cuando un nuevo recurso ha sido sustituido por el recurso solicitado.

* **400s**: Códigos de error del cliente que indican que hubo un problema con la solicitud.

* **500s**: Códigos de error del servidor que indican que la solicitud fue aceptada, pero que un error en el servidor impidió que se cumpliera.

# Consumo de un Webservice

> El objetivo de este tutorial es crear un Cliente que pueda consumir una API expuesta, usando `flask` de Python y `ngrok` desde otro notebook de Google Colab. Para ello, hay varias cosas a tener en cuenta en primer lugar: la url que entrega `ngrok` y que expone los datos, se genera de manera dinámica; es decir, que cada vez que echemos a correr el servidor para el webservice, él va a entregar una url distinta a la anterior y a siguiente. Esta es una limitación de la versión gratuita de `ngrok` y que se puede resolver en las ediciones de pago. No obstante, por ahora, manejaremos esa url como una variable dinámica y que tendrá el mismo tiempo de vida que dure el servidor corriendo.

##Consumiendo un Webservice

> Para consumir una API, necesitamos enviar peticiones HTTP; para ello, es necesario instalar e importar la libreria `requests`, la cual abstrae y permite trabajar estas peticiones.

In [11]:
#Importemos Requerimientos
import requests
import json

Empecemos enviando peticiones HTTP

###GET

> Este metodo nos permite obtener recursos de una API dada. Esta es una operacion de solo lectura, por tanto, no podemos modificar ningun recurso existente. Para ello, pasamos la `url` como parametro del metodo `requests.get()`.

In [2]:
#Ruta Raiz
url = 'http://7b89-34-90-113-194.ngrok.io/'  #le pasamos como parámetro, la url que entrega ngrok
response = requests.get(url)

print(response)        #Checkamos la respuesta de la petición al servidor por consola
print(response.content)

<Response [200]>

In [3]:
#Ruta Raiz
url = 'http://7b89-34-90-113-194.ngrok.io/'
#Ruta de tabla 'Employees'
route = ('/')

response = requests.get(url+str(route))


if response.status_code ==200:
  data = response.content
  #Datos por consola
  print(data)
  #url consultada
  print(response.url)

b'{"department_id":{"0":9,"1":9,"2":9,"3":6,"4":6,"5":6,"6":6,"7":6,"8":10,"9":10,"10":10,"11":10,"12":10,"13":10,"14":3,"15":3,"16":3,"17":3,"18":3,"19":3,"20":5,"21":5,"22":5,"23":5,"24":5,"25":8,"26":8,"27":8,"28":8,"29":8,"30":8,"31":5,"32":5,"33":1,"34":2,"35":2,"36":4,"37":7,"38":11,"39":11},"email":{"0":"steven.king@sqltutorial.org","1":"neena.kochhar@sqltutorial.org","2":"lex.de haan@sqltutorial.org","3":"alexander.hunold@sqltutorial.org","4":"bruce.ernst@sqltutorial.org","5":"david.austin@sqltutorial.org","6":"valli.pataballa@sqltutorial.org","7":"diana.lorentz@sqltutorial.org","8":"nancy.greenberg@sqltutorial.org","9":"daniel.faviet@sqltutorial.org","10":"john.chen@sqltutorial.org","11":"ismael.sciarra@sqltutorial.org","12":"jose manuel.urman@sqltutorial.org","13":"luis.popp@sqltutorial.org","14":"den.raphaely@sqltutorial.org","15":"alexander.khoo@sqltutorial.org","16":"shelli.baida@sqltutorial.org","17":"sigal.tobias@sqltutorial.org","18":"guy.himuro@sqltutorial.org","19":"karen.colmenares@sqltutorial.org","20":"matthew.weiss@sqltutorial.org","21":"adam.fripp@sqltutorial.org","22":"payam.kaufling@sqltutorial.org","23":"shanta.vollman@sqltutorial.org","24":"irene.mikkilineni@sqltutorial.org","25":"john.russell@sqltutorial.org","26":"karen.partners@sqltutorial.org","27":"jonathon.taylor@sqltutorial.org","28":"jack.livingston@sqltutorial.org","29":"kimberely.grant@sqltutorial.org","30":"charles.johnson@sqltutorial.org","31":"sarah.bell@sqltutorial.org","32":"britney.everett@sqltutorial.org","33":"jennifer.whalen@sqltutorial.org","34":"michael.hartstein@sqltutorial.org","35":"pat.fay@sqltutorial.org","36":"susan.mavris@sqltutorial.org","37":"hermann.baer@sqltutorial.org","38":"shelley.higgins@sqltutorial.org","39":"william.gietz@sqltutorial.org"},"employee_id":{"0":100,"1":101,"2":102,"3":103,"4":104,"5":105,"6":106,"7":107,"8":108,"9":109,"10":110,"11":111,"12":112,"13":113,"14":114,"15":115,"16":116,"17":117,"18":118,"19":119,"20":120,"21":121,"22":122,"23":123,"24":126,"25":145,"26":146,"27":176,"28":177,"29":178,"30":179,"31":192,"32":193,"33":200,"34":201,"35":202,"36":203,"37":204,"38":205,"39":206},"first_name":{"0":"Steven","1":"Neena","2":"Lex","3":"Alexander","4":"Bruce","5":"David","6":"Valli","7":"Diana","8":"Nancy","9":"Daniel","10":"John","11":"Ismael","12":"Jose Manuel","13":"Luis","14":"Den","15":"Alexander","16":"Shelli","17":"Sigal","18":"Guy","19":"Karen","20":"Matthew","21":"Adam","22":"Payam","23":"Shanta","24":"Irene","25":"John","26":"Karen","27":"Jonathon","28":"Jack","29":"Kimberely","30":"Charles","31":"Sarah","32":"Britney","33":"Jennifer","34":"Michael","35":"Pat","36":"Susan","37":"Hermann","38":"Shelley","39":"William"},"hire_date":{"0":"1987-06-17","1":"1989-09-21","2":"1993-01-13","3":"1990-01-03","4":"1991-05-21","5":"1997-06-25","6":"1998-02-05","7":"1999-02-07","8":"1994-08-17","9":"1994-08-16","10":"1997-09-28","11":"1997-09-30","12":"1998-03-07","13":"1999-12-07","14":"1994-12-07","15":"1995-05-18","16":"1997-12-24","17":"1997-07-24","18":"1998-11-15","19":"1999-08-10","20":"1996-07-18","21":"1997-04-10","22":"1995-05-01","23":"1997-10-10","24":"1998-09-28","25":"1996-10-01","26":"1997-01-05","27":"1998-03-24","28":"1998-04-23","29":"1999-05-24","30":"2000-01-04","31":"1996-02-04","32":"1997-03-03","33":"1987-09-17","34":"1996-02-17","35":"1997-08-17","36":"1994-06-07","37":"1994-06-07","38":"1994-06-07","39":"1994-06-07"},"job_id":{"0":4,"1":5,"2":5,"3":9,"4":9,"5":9,"6":9,"7":9,"8":7,"9":6,"10":6,"11":6,"12":6,"13":6,"14":14,"15":13,"16":13,"17":13,"18":13,"19":13,"20":19,"21":19,"22":19,"23":19,"24":18,"25":15,"26":15,"27":16,"28":16,"29":16,"30":16,"31":17,"32":17,"33":3,"34":10,"35":11,"36":8,"37":12,"38":2,"39":1},"last_name":{"0":"King","1":"Kochhar","2":"De Haan","3":"Hunold","4":"Ernst","5":"Austin","6":"Pataballa","7":"Lorentz","8":"Greenberg","9":"Faviet","10":"Chen","11":"Sciarra","12":"Urman","13":"Popp","14":"Raphaely","15":"Khoo","16":"Baida","17":"Tobias","18":"Himuro","19":"Colmenares","20":"Weiss","21":"Fripp","22":"Kaufling","23":"Vollman","24":"Mikkilineni","25":"Russell","26":"Partners","27":"Taylor","28":"Livingston","29":"Grant","30":"Johnson","31":"Bell","32":"Everett","33":"Whalen","34":"Hartstein","35":"Fay","36":"Mavris","37":"Baer","38":"Higgins","39":"Gietz"},"manager_id":{"0":NaN,"1":100.0,"2":100.0,"3":102.0,"4":103.0,"5":103.0,"6":103.0,"7":103.0,"8":101.0,"9":108.0,"10":108.0,"11":108.0,"12":108.0,"13":108.0,"14":100.0,"15":114.0,"16":114.0,"17":114.0,"18":114.0,"19":114.0,"20":100.0,"21":100.0,"22":100.0,"23":100.0,"24":120.0,"25":100.0,"26":100.0,"27":100.0,"28":100.0,"29":100.0,"30":100.0,"31":123.0,"32":123.0,"33":101.0,"34":100.0,"35":201.0,"36":101.0,"37":101.0,"38":101.0,"39":205.0},"phone_number":{"0":"515.123.4567","1":"515.123.4568","2":"515.123.4569","3":"590.423.4567","4":"590.423.4568","5":"590.423.4569","6":"590.423.4560","7":"590.423.5567","8":"515.124.4569","9":"515.124.4169","10":"515.124.4269","11":"515.124.4369","12":"515.124.4469","13":"515.124.4567","14":"515.127.4561","15":"515.127.4562","16":"515.127.4563","17":"515.127.4564","18":"515.127.4565","19":"515.127.4566","20":"650.123.1234","21":"650.123.2234","22":"650.123.3234","23":"650.123.4234","24":"650.124.1224","25":null,"26":null,"27":null,"28":null,"29":null,"30":null,"31":"650.501.1876","32":"650.501.2876","33":"515.123.4444","34":"515.123.5555","35":"603.123.6666","36":"515.123.7777","37":"515.123.8888","38":"515.123.8080","39":"515.123.8181"},"salary":{"0":24000.0,"1":17000.0,"2":17000.0,"3":9000.0,"4":6000.0,"5":4800.0,"6":4800.0,"7":4200.0,"8":12000.0,"9":9000.0,"10":8200.0,"11":7700.0,"12":7800.0,"13":6900.0,"14":11000.0,"15":3100.0,"16":2900.0,"17":2800.0,"18":2600.0,"19":2500.0,"20":8000.0,"21":8200.0,"22":7900.0,"23":6500.0,"24":2700.0,"25":14000.0,"26":13500.0,"27":8600.0,"28":8400.0,"29":7000.0,"30":6200.0,"31":4000.0,"32":3900.0,"33":4400.0,"34":13000.0,"35":6000.0,"36":6500.0,"37":10000.0,"38":12000.0,"39":8300.0}}\n'
http://7b89-34-90-113-194.ngrok.io/

Verifiquemos el tipo de dato que estamos consultando:

In [4]:
type(data)

bytes

Estamos recibiendo bytes como tipo de dato. Debemos convertir estos datos a strings y luego a formato Json. Esto lo hacemos componiendo las funciones `.decod('utf-8')` y `json.loads()` :

In [ ]:
dic = json.loads(data.decode('utf-8'))
dic

In [ ]:
#Instalamos requerimientos
pip install pandas

Finalmemte este diccionario ya podemos convertirlo en un Dataframe y el cliente puede visualizarlo en su salida:

In [7]:
import pandas as pd
df = pd.DataFrame().from_dict(dic)
df

    department_id                              email  ...  phone_number   salary
0               9        steven.king@sqltutorial.org  ...  515.123.4567  24000.0
1               9      neena.kochhar@sqltutorial.org  ...  515.123.4568  17000.0
2               9        lex.de haan@sqltutorial.org  ...  515.123.4569  17000.0
3               6   alexander.hunold@sqltutorial.org  ...  590.423.4567   9000.0
4               6        bruce.ernst@sqltutorial.org  ...  590.423.4568   6000.0
5               6       david.austin@sqltutorial.org  ...  590.423.4569   4800.0
6               6    valli.pataballa@sqltutorial.org  ...  590.423.4560   4800.0
7               6      diana.lorentz@sqltutorial.org  ...  590.423.5567   4200.0
8              10    nancy.greenberg@sqltutorial.org  ...  515.124.4569  12000.0
9              10      daniel.faviet@sqltutorial.org  ...  515.124.4169   9000.0
10             10          john.chen@sqltutorial.org  ...  515.124.4269   8200.0
11             10     ismael.sciarra@sqltutorial.org  ...  515.124.4369   7700.0
12             10  jose manuel.urman@sqltutorial.org  ...  515.124.4469   7800.0
13             10          luis.popp@sqltutorial.org  ...  515.124.4567   6900.0
14              3       den.raphaely@sqltutorial.org  ...  515.127.4561  11000.0
15              3     alexander.khoo@sqltutorial.org  ...  515.127.4562   3100.0
16              3       shelli.baida@sqltutorial.org  ...  515.127.4563   2900.0
17              3       sigal.tobias@sqltutorial.org  ...  515.127.4564   2800.0
18              3         guy.himuro@sqltutorial.org  ...  515.127.4565   2600.0
19              3   karen.colmenares@sqltutorial.org  ...  515.127.4566   2500.0
20              5      matthew.weiss@sqltutorial.org  ...  650.123.1234   8000.0
21              5         adam.fripp@sqltutorial.org  ...  650.123.2234   8200.0
22              5     payam.kaufling@sqltutorial.org  ...  650.123.3234   7900.0
23              5     shanta.vollman@sqltutorial.org  ...  650.123.4234   6500.0
24              5  irene.mikkilineni@sqltutorial.org  ...  650.124.1224   2700.0
25              8       john.russell@sqltutorial.org  ...          None  14000.0
26              8     karen.partners@sqltutorial.org  ...          None  13500.0
27              8    jonathon.taylor@sqltutorial.org  ...          None   8600.0
28              8    jack.livingston@sqltutorial.org  ...          None   8400.0
29              8    kimberely.grant@sqltutorial.org  ...          None   7000.0
30              8    charles.johnson@sqltutorial.org  ...          None   6200.0
31              5         sarah.bell@sqltutorial.org  ...  650.501.1876   4000.0
32              5    britney.everett@sqltutorial.org  ...  650.501.2876   3900.0
33              1    jennifer.whalen@sqltutorial.org  ...  515.123.4444   4400.0
34              2  michael.hartstein@sqltutorial.org  ...  515.123.5555  13000.0
35              2            pat.fay@sqltutorial.org  ...  603.123.6666   6000.0
36              4       susan.mavris@sqltutorial.org  ...  515.123.7777   6500.0
37              7       hermann.baer@sqltutorial.org  ...  515.123.8888  10000.0
38             11    shelley.higgins@sqltutorial.org  ...  515.123.8080  12000.0
39             11      william.gietz@sqltutorial.org  ...  515.123.8181   8300.0

[40 rows x 10 columns]

###POST

> Si necesitamos `CREAR` un nuevo registro, debemos enviar adjunto a la peticion, el conjunto de datos en formato `Json` del nuevo registro como parametro de `requests.post()`

In [8]:
url = 'http://7b89-34-90-113-194.ngrok.io/insert_employee'  #le pasamos como parámetro, la url que entrega ngrok

#Datos del nuevo registro
dic = {"department_id": 5,"email": "laprueba@gmail.com", "employee_id": 39,"first_name": "Juanito", "hire_date":"2019-12-19", "job_id": 12, "last_name": "Prado", "manager_id": "3", "phone_number": 5555555, "salary": 330000}

#Configurando la cabecera de la peticion
headers = {'Content-Type': 'application/json'}

response = requests.post(url,data=json.dumps(dic), headers=headers)
print(response)
print(response.content)

b'{"mensaje":"registrado!"}\n'

###PUT

> Si necesitamos `ACTUALIZAR` un registro ya existente con nueva informacion, le pasamos como parametro al metodo `requests.put()`, la `url` y la data del registro a actualizar.

> Adjunto a la url, le pasamos la ruta y el codigo del `employee_id` que se quiere actualizar.

In [12]:
url = 'http://dd93-34-140-57-123.ngrok.io/update_employee/179'  #le pasamos como parámetros: ngrok_url/update_employee/<employee_id>

#Datos del registro a actualizar
dic = {"department_id": 5,"email": "Cotufa@gmail.com", "employee_id": 39,"first_name": "Cotufo", "hire_date":"2019-12-19", "job_id": 12, "last_name": "Maiz", "manager_id": "3", "phone_number": 342526737, "salary": 12000}

response = requests.put(url,data=json.dumps(dic), headers=headers)
print(response)
print(response.content)

b'{"mensaje":"Registro Actualizado!"}\n'

###DELETE

> Si necesitamos `ELIMINAR` un registro ya existente, le pasamos como parametro al metodo `requests.put()`, la `url` del registro a actualizar, adjunto del `employee_id` que se quiere eliminar.

In [ ]:
url = 'http://dd93-34-140-57-123.ngrok.io/update_employee/179'  #le pasamos como parámetros: ngrok_url/update_employee/<employee_id>

response = requests.delete(url)
print(response)
print(response.content)